<div class="container" ng-controller = "FormationCtrl">
  <h1>Formation</h1>


  <div class="form-group">
    
    <label>Code Formation</label>
    <input type="text" class="form-control" id="nomFormation"  ng-readonly="true" value="{{formation.codeFormation}}">
	<label>Debut Accreditation</label>
    <input  class="form-control" id="debutAccreditation" ng-readonly="true" value="{{formation.debutAccreditation}}">
    <label>Diplome</label>
    <input  class="form-control" id="diplome" ng-readonly="true" value="{{formation.diplome}}">
    <label>Double Diplome</label>
    <input  class="form-control" id="doubleDiplome" ng-readonly="true" value="{{formation.doubleDiplome}}">
    <label>Fin Accreditation</label>
    <input  class="form-control" id="finAccreditation" ng-readonly="true" value="{{formation.finAccreditation}}">
    <label>Annee</label>
    <input  class="form-control" id="n0Annee" ng-readonly="true" value="{{formation.n0Annee}}">
    <label>Nom Formation</label>
    <input  class="form-control" id="nomFormation" ng-readonly="true" value="{{formation.nomFormation}}">
	<span  ng-click="" class="glyphicon glyphicon-edit"></span>
	
  </div>

  

</div>