
 <div class="container" >
  <h1>Formation</h1>

  
  <div id="table" class="table-editable">
    <a href ="#formulaire"><span class="table-add glyphicon glyphicon-plus" ></span></a>
    <table class="table">
      <tr>
        <th>Code Formation</th>
        <th>Nom Formation</th>
        <th>Accreditation</th>
        <th>Diplome</th>
        <th>Actions</th>
        <th></th>
        <th></th>
      </tr>
      <tr ng-repeat="f in formations">
        <td contenteditable="true">{{f.codeFormation}}</td>
        <td contenteditable="true">{{f.nomFormation}}</td>
        <td contenteditable="true">{{f.debutAccreditation}}</td>
        <td contenteditable="true">{{f.diplome}}</td>
        
        <td>
          <span  ng-click="supprimerFormation(f.codeFormation)" class="table-remove glyphicon glyphicon-remove"></span>
         </td> 
         <td>
          <a href ="#formation/{{f.codeFormation}}"><span class="table-add glyphicon glyphicon-zoom-in" ></span></a>
        </td>

      </tr>

    </table>
  </div>
  
  

</div>